body {
    background: linear-gradient(to right, #a61308, #a00707);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.game-container {
    background: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 350px;
}

h2 {
    color: black;
    font-weight: bold;
}
#message {
    font-size: 1.2rem;
    font-weight: bold;
    transition: 0.3s;
}
.btn-custom {
    width: 100%;
    font-size: 1.1rem;
}
input {
    text-align: center;
}